body {
	font-family: Tahoma, Geneva, sans-serif;
}

h3, p {
	margin: 0px;
}

#main_container {
	width: 720px;
	margin: 0 auto;
}

#main_heading {
	margin: 30px 0 20px 0;
	font-family: 'Monda';
	font-weight: bold;
	text-align: center;
}

#left_column {
	float: left;
	width: 100px;
}

#board {
	float: left;
	width: 448px;
}

.board_cell {
	width: 142px;
	height: 142px;
	margin: 2px;
	float: left;
	background: #FFFFF5;
	border: solid 1px;
}

.clear {
	clear: both;
}

 #scorebox .cell {
 	width: 212px;
 	padding: 0;
 	margin: 10px 7px 0 3px;
 	float: left;
 }

 #scorebox h3 {
 	float: left;
 	padding: 12px 7px 0 15px;

 }

 input[type="text"].txt{
 	width: 80px;
	border: 0;
	color: #FFFFFF;
	float: left;
	text-align: center;
	font-size: 40px;
	border-radius: 5px;
	margin: 0 2px 0 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
 }

.cell_hovered {
	background: #FFFBAF;
}

.first_player_cell, #player1 {
	background: #7374B0;
}

.second_player_cell, #player2 {
	background: #E185A2;
}
